table{
    border-collapse: collapse;
   
  }
  .tab{
    display: flex;
    justify-content: center;
  }
  
  td{
    border: 1px solid rgb(20, 20, 20);
    font-weight: bold; 
    padding: 10px;
  }
  a.stylebouton {
    width: 300px;
    height: 100px;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-border-radius: 1px;
  
    -moz-border-radius: 1px;
  
    border-radius: 1px;
  
    border: solid thin #0f0d0d;
  
    text-shadow: none;
  
    background: #1d1c1c;
  
    background-image: -webkit-linear-gradient(top, #2c2929, #1d1c1c);
  
    background-image: -moz-linear-gradient(top, #1d1c1c, #1d1c1c);
  
    background-image: -ms-linear-gradient(top, #1d1c1c, #1d1c1c);
  
    background-image: -o-linear-gradient(top, #1d1c1c, #1d1c1c);
  
    background-image: linear-gradient(to bottom, #1d1c1c, #2c2929);    
  
    color: buttontext;
  
    padding: 5px 10px;
  
    margin: 10px;
  
    text-decoration: none;
  
    font-family: Arial;
    color: rgb(236, 233, 229);
  
    font-size: 18px;
  
  }
  
  a.stylebouton:hover {
  
  
    background-image: -webkit-linear-gradient(top, #4e4c4c, #4e4c4c);
  
    background-image: -moz-linear-gradient(top, #4e4c4c, #4e4c4c);
  
    background-image: -ms-linear-gradient(top, #4e4c4c, #4e4c4c);
  
    background-image: -o-linear-gradient(top, #4e4c4c, #4e4c4c, #4e4c4c);
  
    background-image: linear-gradient(to bottom, #4e4c4c, #4e4c4c);    
  
  }
  h1{
    
    text-align: center;
    
  }
  .carre{
    margin-top: 15%;
  }
  .row1{
    display:flex;
    flex-wrap: wrap;
      margin-left: 40%;
      margin-top: 2%;
     
  }
 
  